<!DOCTYPE HTML>
<html>
<head>
    <title>Create user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>Create user:</h3>
    <div>
        <form action="/addUser" method="post" name="user">
            <table>
                <tr>
                    <td>Name: </td>
                    <td><input type="text" name="firstname" placeholder="User name"></td>
                </tr>
                <tr>
                    <td>Surname: </td>
                    <td><input type="text" name="surname" placeholder="User surname"></td>
                </tr>
                <tr>
                    <td>Age: </td>
                    <td><input type="number" name="age" placeholder="User age"></td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><input type="email" name="email" placeholder="User email"></td>
                </tr>
            </table>
            <div><button type="submit">Add</button></div>
        </form>
    </div><br>
    <a href="/users">Back to list</a>
</body>
</html>