<!DOCTYPE HTML>
<html>
<head>
    <title>Update user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>Update user:</h3>
    <div>
        <form action="/updateUser" method="post" name="user">
            <table>
                <tr>
                    <td>Id: </td>
                    <td><input type="text" name="id" placeholder="User id" autocomplete="off" value="{{user.id}}"></td>
                </tr>
                <tr>
                    <td>Name: </td>
                    <td><input type="text" name="firstname" placeholder="User name" autocomplete="off" value="{{user.firstname}}"></td>
                </tr>
                <tr>
                    <td>Surname: </td>
                    <td><input type="text" name="surname" placeholder="User surname" autocomplete="off" value="{{user.surname}}"></td>
                </tr>
                <tr>
                    <td>Age: </td>
                    <td><input type="number" name="age" placeholder="User age" autocomplete="off" value="{{user.age}}"></td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><input type="email" name="email" placeholder="User email" autocomplete="off" value="{{user.email}}"></td>
                </tr>
            </table>
            <div><button type="submit">Update</button></div>
        </form>
    </div><br>
    <a href="/users">Back to list</a>
</body>
</html>